<p>
  <%= link_to 'Back', pageants_url(@pageant) %> |
    <%= link_to 'Logout', :controller => :admins, :action => 'logout'%>
</p>

<h2>Edit Contestant</h2>

<% form_for([@pageant, @contestant]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

