<p>
  <%= link_to 'Back', @pageant  %> |
    <%= link_to 'Logout', :controller => :admins, :action => 'logout'%>
</p>

<h2>New Judge</h2>

<% form_for([@pageant, @judge]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :alias %>
    <%= f.text_field :alias %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
		<label for="user_password">Password</label>
    <%= f.password_field :password %>
  </p>
  <p>
		<label for="user_password_confirmation">Confirmation</label>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>


