<div class="block">
  <div class="title">
    <h2><%=h @judge.alias %></h2>
    <p>Username: <%=h @judge.username %></p>
  </div>
  
  <table>
    <tr>
    <th>Contestant</th>
      <% @rounds.each do |r| -%>
        <th align="right" title="r.description"><%= r.abbreviation %><br/> (<%= number_with_precision(r.max_score, 2) %>)
      <% end -%>
    <th align="right">Total</th>
    </tr>
    <% @contestants.each do |c| -%>
      <tr>
        <td><%= c.number %></td>
        <% @rounds.each do |r| -%>
        <%= render(:partial => '/scores/showscore', :locals => {:contestant_id => c.id, :judge_id=>@judge.id, :round_id=>r.id}) -%>
        <% end -%>
        <td align="right"><%= number_with_precision(Score.judge_total_for_contestant(@judge, c), 2)%> (<%=@judge_rankings[c.id]%>)</td>
      </tr>
    <% end -%>
  </table>
  
  <p class="links">
    <%= link_to 'Destroy Judge\'s Scores', destroy_all_scores_url(:judge_id => @judge.id), :method=>:delete, :confirm=>"Are you sure?" %> | 
    <%= link_to 'Printable Report', report_judge_url(:id=>@judge.id, :format=>:pdf) %>
  </p>
  
</div>
