<p>
  <%= link_to 'Back', session[:return_to] %> |
    <%= link_to 'Logout', :controller => :admins, :action => 'logout'%>  
</p>

<h2>Edit Score</h2>

<% form_for([@pageant, @score]) do |f| %>
  <%= f.error_messages %>

  <% if not @score.round.manual %>
    <p>
      <%= f.label :judge_id %>
      <%=@score.judge%>
    </p>
  <% end %>
  <p>
    <%= f.label :round_id %>
    <b><%= @score.round.description %></b>
  </p>
  <p>
    <%= f.label :contestant_id %>
    <b><%= @score.contestant.name %></b>
  </p>
  <p>
    <%= f.label :value %>
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :locked %>
    <%= f.check_box :locked %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
