<p>
  <%= link_to 'Back', pageant_scores_url(@pageant) %> |
    <%= link_to 'Logout', :controller => :admins, :action => 'logout'%>
</p>

<h2>New Score</h2>

<% form_for([@pageant, @score]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :judge_id %>
    <%= f.collection_select :judge_id, @pageant.judges.find(:all, :order => "alias"), :id, :alias %>
  </p>
  <p>
    <%= f.label :round_id %>
    <%= f.collection_select :round_id, @pageant.rounds.find(:all, :order => "description"), :id, :description %>
  </p>
  <p>
    <%= f.label :contestant_id %>
    <%= f.collection_select :contestant_id, @pageant.contestants.find(:all, :order => "name"), :id, :name%>
  </p>
  <p>
    <%= f.label :value %>
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :locked %>
    <%= f.check_box :locked %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
