<p>
  <%= link_to 'Back', pageants_url(@pageant) %> |
    <%= link_to 'Logout', :controller => :admins, :action => 'logout'%>
</p>

<h2>New Round</h2>

<% form_for([@pageant, @round]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :abbreviation %>
    <%= f.text_field :abbreviation %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :max_score %>
    <%= f.text_field :max_score %>
  </p>
  <p>
    <%= f.label :manual %>
    <%= f.check_box :manual %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
